## Project â€“ Creating an automated trading system

#### Christian Karvonen IA-15 & Wilhelm Kinos IA-15

#### Imports:

In [56]:
import datetime as dt
import numpy as np
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader.data import DataReader
from plotly.offline import init_notebook_mode, iplot
from plotly.graph_objs import *
import matplotlib.pyplot as plt
from collections import defaultdict
from sklearn.linear_model import LinearRegression, ElasticNetCV, BayesianRidge, LassoLarsCV, ARDRegression, LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neural_network import MLPRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn import preprocessing, svm, model_selection
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.externals import joblib
from sklearn import utils
init_notebook_mode(connected=True)

### All definitions/functions:

#### Rolling average definition:

In [2]:
def rolling_average(values, window):
    nan = []
    nan = np.append(nan, np.repeat(np.nan, window-1))
    weights = np.repeat(1.0, window)/window
    sma = np.convolve(values,weights,'valid')
    sma = np.append(nan, sma)
    return sma

#### MASE

In [3]:
def MASE(y_test, forecast_prediction):
    y_test, forecast_prediction = np.array(y_test), np.array(forecast_prediction)
    n = len(y_test)
    d = np.abs(np.diff(y_test, axis=0)).sum()/(n-1) 
    errors = np.abs(y_test.flat - forecast_prediction)
    return errors.mean()/d

#### SMAPE

In [4]:
def SMAPE(y_test, forecast_prediction):
    y_test, forecast_prediction = np.array(y_test), np.array(forecast_prediction)
    return 1/len(y_test) * np.sum(np.abs(forecast_prediction - y_test.flat) / (np.abs(y_test) + np.abs(forecast_prediction))/2)

#### Defining timeframe of stocks:

In [5]:
end = dt.date.today()
endday = end
endday = endday.strftime('%Y-%m-%d')
print([endday])
start = end - dt.timedelta(days=5*365)

['2018-11-13']

#### Use of DataReader to get MU stock data from IEX https://iextrading.com/developer/

In [6]:
df = DataReader('MU', 'iex', start, end)
df.tail(10)

5y

             open   high     low  close    volume
date
2018-10-30  34.64  36.05  34.495  36.01  35319497
2018-10-31  36.58  38.04  35.800  37.72  44055370
2018-11-01  37.98  40.20  37.520  40.12  43981410
2018-11-02  40.19  40.94  39.640  40.32  33645741
2018-11-05  40.10  40.24  38.770  39.92  22903972
2018-11-06  39.74  40.56  39.560  39.80  19316554
2018-11-07  40.32  41.05  39.960  40.93  22957221
2018-11-08  40.67  41.43  40.340  40.44  15609308
2018-11-09  39.89  39.99  38.410  39.11  26102786
2018-11-12  38.24  38.53  36.835  37.44  24822391

### The 5 features:

#### Momentum:

In [7]:
df['momentum'] = df.close - df.close.shift(4)
df[['momentum']].head(10)

            momentum
date
2013-11-14       NaN
2013-11-15       NaN
2013-11-18       NaN
2013-11-19       NaN
2013-11-20    -0.390
2013-11-21     0.529
2013-11-22     0.900
2013-11-25     0.800
2013-11-26     1.510
2013-11-27     1.180

#### A/O Oscillator (accumulation/distribution oscillator):

In [8]:
df['A/O'] = (df.high - df.close.shift(1))/(df.high - df.low)
df[['A/O']].head(10)

                 A/O
date
2013-11-14       NaN
2013-11-15  1.049180
2013-11-18  0.530380
2013-11-19  0.707317
2013-11-20  0.225352
2013-11-21  1.138528
2013-11-22  0.500000
2013-11-25  0.392604
2013-11-26  0.948276
2013-11-27  0.977778

#### MA5:

In [9]:
df['MA5'] = rolling_average(df.close, 5)
df[['MA5']].head(10)

                MA5
date
2013-11-14      NaN
2013-11-15      NaN
2013-11-18      NaN
2013-11-19      NaN
2013-11-20  19.1602
2013-11-21  19.3202
2013-11-22  19.4660
2013-11-25  19.5800
2013-11-26  19.8300
2013-11-27  20.3040

#### BIAS6:

In [10]:
df['MA6'] = rolling_average(df.close, 6)
df['BIAS6'] = ((df.close-df.MA6)/(df.MA6))*100
df[['BIAS6']].head(10)

               BIAS6
date
2013-11-14       NaN
2013-11-15       NaN
2013-11-18       NaN
2013-11-19       NaN
2013-11-20       NaN
2013-11-21  3.583180
2013-11-22  3.723746
2013-11-25  1.681031
2013-11-26  3.087725
2013-11-27  5.568484

#### ROC (rate of change)

In [11]:
df['ROC'] = (df.close - df.close.shift(3)) / df.close.shift(3) * 100
df[['ROC']].head(10)

                 ROC
date
2013-11-14       NaN
2013-11-15       NaN
2013-11-18       NaN
2013-11-19 -0.677436
2013-11-20 -3.396537
2013-11-21  3.628823
2013-11-22  5.928646
2013-11-25  5.638298
2013-11-26  1.600800
2013-11-27  4.853888

In [12]:
df.head(5)

,open,high,low,close,volume,momentum,A/O,MA5,MA6,BIAS6,ROC
date,,,,,,,,,,,
2013-11-14,18.91,19.20,18.90,19.190,31417954,NaN,NaN,NaN,NaN,NaN,NaN
2013-11-15,19.38,19.83,19.22,19.461,51592829,NaN,1.049180,NaN,NaN,NaN,NaN
2013-11-18,19.58,19.88,19.09,19.290,47549892,NaN,0.530380,NaN,NaN,NaN,NaN
2013-11-19,19.35,19.87,19.05,19.060,51853726,NaN,0.707317,NaN,NaN,NaN,-0.677436
2013-11-20,19.19,19.22,18.51,18.800,44815768,-0.39,0.225352,19.1602,NaN,NaN,-3.396537

### Moving window

In [13]:
def get_moving_window(data, window):
    for i in range(1, window + 1):
        df["Moving_Window_"+str(i)] = data.shift(i)

In [14]:
#Label
label_int = int(1)
df['label'] = df['close'].shift(-label_int)

In [15]:
#df = df.drop(['open','high','low','volume','momentum','A/O','MA5','MA6','BIAS6','ROC'],1)

In [16]:
get_moving_window(df.close, 15)
df.head(10)

,open,high,low,close,volume,momentum,A/O,MA5,MA6,BIAS6,...,Moving_Window_6,Moving_Window_7,Moving_Window_8,Moving_Window_9,Moving_Window_10,Moving_Window_11,Moving_Window_12,Moving_Window_13,Moving_Window_14,Moving_Window_15
date,,,,,,,,,,,,,,,,,,,,,
2013-11-14,18.91,19.200,18.9000,19.190,31417954,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-11-15,19.38,19.830,19.2200,19.461,51592829,NaN,1.049180,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-11-18,19.58,19.880,19.0900,19.290,47549892,NaN,0.530380,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-11-19,19.35,19.870,19.0500,19.060,51853726,NaN,0.707317,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-11-20,19.19,19.220,18.5100,18.800,44815768,-0.390,0.225352,19.1602,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-11-21,19.04,20.115,18.9600,19.990,93347344,0.529,1.138528,19.3202,19.298500,3.583180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-11-22,19.91,20.320,19.6600,20.190,40144827,0.900,0.500000,19.4660,19.465167,3.723746,...,19.190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-11-25,20.44,20.500,19.7104,19.860,33875466,0.800,0.392604,19.5800,19.531667,1.681031,...,19.461,19.190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-11-26,19.93,20.410,19.8300,20.310,33585049,1.510,0.948276,19.8300,19.701667,3.087725,...,19.290,19.461,19.190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-11-27,20.41,21.190,20.2900,21.170,40572662,1.180,0.977778,20.3040,20.053333,5.568484,...,19.060,19.290,19.461,19.19,NaN,NaN,NaN,NaN,NaN,NaN

Dropna

In [17]:
df.dropna(inplace=True)
df.head()

,open,high,low,close,volume,momentum,A/O,MA5,MA6,BIAS6,...,Moving_Window_6,Moving_Window_7,Moving_Window_8,Moving_Window_9,Moving_Window_10,Moving_Window_11,Moving_Window_12,Moving_Window_13,Moving_Window_14,Moving_Window_15
date,,,,,,,,,,,,,,,,,,,,,
2013-12-06,21.97,22.3100,21.800,22.31,32237775,1.040,1.294118,21.7638,21.653167,3.033429,...,21.170,20.31,19.86,20.19,19.99,18.80,19.06,19.29,19.461,19.190
2013-12-09,22.66,23.6700,22.600,23.12,65756702,1.290,1.271028,22.1338,21.989833,5.139496,...,21.100,21.17,20.31,19.86,20.19,19.99,18.80,19.06,19.290,19.461
2013-12-10,23.12,23.4385,22.800,23.14,41919491,1.381,0.498825,22.3958,22.301500,3.759837,...,21.270,21.10,21.17,20.31,19.86,20.19,19.99,18.80,19.060,19.290
2013-12-11,22.47,22.9100,22.290,22.50,52447475,0.850,-0.370968,22.5440,22.413167,0.387421,...,21.830,21.27,21.10,21.17,20.31,19.86,20.19,19.99,18.800,19.060
2013-12-12,22.68,23.0900,22.355,22.54,52600226,0.230,0.802721,22.7220,22.543333,-0.014786,...,21.759,21.83,21.27,21.10,21.17,20.31,19.86,20.19,19.990,18.800

Linear Regression

In [18]:
def get_y_columns(data):
    feature_col = 12
    return data.columns[feature_col:].values 
    
print(get_y_columns(df))
print(np.array(df[get_y_columns(df)]))

['Moving_Window_1' 'Moving_Window_2' 'Moving_Window_3' 'Moving_Window_4'
 'Moving_Window_5' 'Moving_Window_6' 'Moving_Window_7' 'Moving_Window_8'
 'Moving_Window_9' 'Moving_Window_10' 'Moving_Window_11'
 'Moving_Window_12' 'Moving_Window_13' 'Moving_Window_14'
 'Moving_Window_15']
[[21.65  21.759 21.83  ... 19.29  19.461 19.19 ]
 [22.31  21.65  21.759 ... 19.06  19.29  19.461]
 [23.12  22.31  21.65  ... 18.8   19.06  19.29 ]
 ...
 [39.8   39.92  40.32  ... 40.45  41.3   42.35 ]
 [40.93  39.8   39.92  ... 39.76  40.45  41.3  ]
 [40.44  40.93  39.8   ... 38.68  39.76  40.45 ]]

In [19]:
x = np.array(df.drop(['label'], 1))
y = np.array(df['label'])
print(x)
print(y)
y = y.reshape(-1, 1)

scaler = preprocessing.StandardScaler().fit(y)

x = scaler.transform(x)
y = scaler.transform(y)

tscv = TimeSeriesSplit(n_splits=5)

for train_index, test_index in tscv.split(x):
    x_train, x_test = x[train_index], x[test_index]
    y_train, y_test = y[train_index], y[test_index]

[[21.97   22.31   21.8    ... 19.29   19.461  19.19  ]
 [22.66   23.67   22.6    ... 19.06   19.29   19.461 ]
 [23.12   23.4385 22.8    ... 18.8    19.06   19.29  ]
 ...
 [40.32   41.05   39.96   ... 40.45   41.3    42.35  ]
 [40.67   41.43   40.34   ... 39.76   40.45   41.3   ]
 [39.89   39.99   38.41   ... 38.68   39.76   40.45  ]]
[23.12 23.14 22.5  ... 40.44 39.11 37.44]

In [20]:
regr = LinearRegression()
regr.fit(x_train, y_train.reshape(len(y_train)))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [21]:
regr.score(x_test, y_test)
forecast = regr.predict(x_test)
#inverse_transform the result for future plotting
forecast_list = forecast.tolist()
new_forecast = scaler.inverse_transform(forecast_list)

In [22]:
MASE(y_test, forecast)

1.018745969664408

In [23]:
SMAPE(y_test, forecast)

3.00936454694048

In [24]:
dates = df.index.values
print([endday])
datespred = np.append(dates, [endday])
print(datespred)
lenofytest = len(y_test)
print(lenofytest)

['2018-11-13']
['2013-12-06' '2013-12-09' '2013-12-10' ... '2018-11-08' '2018-11-09'
 '2018-11-13']
207

In [25]:
df_cm = pd.DataFrame(index=datespred[-lenofytest:])
#actual
df_cm['actual'] = df['close'][-lenofytest:]
#label
df_cm['label'] = df['label'][-lenofytest:]
#pred
df_cm['pred'] = new_forecast
#Creating the buy and the sell decisions for label
df_cm['labelDecision'] = np.where(df_cm['label'] > df_cm['actual'], "Buy", "Sell")
#Creating the buy and the sell decisions for pred
df_cm['predDecision'] = np.where(df_cm['pred'] > df_cm['actual'], "Buy", "Sell")
#Determining the hits between labelDecision and predDecisions
df_cm['hitDecision'] = np.where(df_cm['labelDecision'] == df_cm['predDecision'], 1.0, 0.0)

#Finding confusion matrix values TN, FP, FN and TP
df_cm['TN'] = np.where((df_cm['labelDecision'] == "Sell") & (df_cm['predDecision'] == "Sell"), 1.0, 0.0)
df_cm['FP'] = np.where((df_cm['labelDecision'] == "Sell") & (df_cm['predDecision'] == "Buy"), 1.0, 0.0)
df_cm['FN'] = np.where((df_cm['labelDecision'] == "Buy") & (df_cm['predDecision'] == "Sell"), 1.0, 0.0)
df_cm['TP'] = np.where((df_cm['labelDecision'] == "Buy") & (df_cm['predDecision'] == "Buy"), 1.0, 0.0)
df_cm.head(10)

,actual,label,pred,labelDecision,predDecision,hitDecision,TN,FP,FN,TP
2018-01-19,42.75,42.88,43.400253,Buy,Buy,1.0,0.0,0.0,0.0,1.0
2018-01-22,42.88,43.95,42.681136,Buy,Sell,0.0,0.0,0.0,1.0,0.0
2018-01-23,43.95,43.08,42.432484,Sell,Sell,1.0,1.0,0.0,0.0,0.0
2018-01-24,43.08,43.01,44.462200,Sell,Buy,0.0,0.0,1.0,0.0,0.0
2018-01-25,43.01,43.67,43.136926,Buy,Buy,1.0,0.0,0.0,0.0,1.0
2018-01-26,43.67,43.29,43.557281,Sell,Sell,1.0,1.0,0.0,0.0,0.0
2018-01-29,43.29,41.67,43.703504,Sell,Buy,0.0,0.0,1.0,0.0,0.0
2018-01-30,41.67,43.72,43.330380,Buy,Buy,1.0,0.0,0.0,0.0,1.0
2018-01-31,43.72,42.49,41.352068,Sell,Sell,1.0,1.0,0.0,0.0,0.0
2018-02-01,42.49,40.82,43.957320,Sell,Buy,0.0,0.0,1.0,0.0,0.0

In [26]:
#printing out the confusion matrix values 
print(len(df_cm.loc[df_cm.TN == 1.0]))
print(len(df_cm.loc[df_cm.FP == 1.0]))
print(len(df_cm.loc[df_cm.FN == 1.0]))
print(len(df_cm.loc[df_cm.TP == 1.0]))


#checking if the values are correct with pd.crosstab
df_confusion = pd.crosstab(df_cm.labelDecision, df_cm.predDecision)
df_confusion

48
55
48
56

predDecision   Buy  Sell
labelDecision
Buy             56    48
Sell            55    48

In [27]:
#hitRatio 1
lenOfHits = len(df_cm.loc[df_cm.hitDecision == 1.0])
lenOfMisses = len(df_cm.loc[df_cm.hitDecision == 0.0])
lenOfDecisions = len(df_cm.hitDecision)

print(lenOfHits)
print(lenOfMisses)
print(lenOfDecisions)

hitRatio = ((lenOfHits) / (lenOfDecisions)) * 100
print(hitRatio)

104
103
207
50.24154589371981

#### Creating a pipeline

In [113]:
#Construct some pipelines
from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import SGDRegressor, Ridge, RidgeCV, LassoCV, LassoLarsIC, Lars, LarsCV, PassiveAggressiveRegressor,OrthogonalMatchingPursuit, OrthogonalMatchingPursuitCV, TheilSenRegressor, HuberRegressor, RANSACRegressor
from sklearn.svm import LinearSVR
pipe_lr = Pipeline([('scl', StandardScaler()),
            #'('pca', PCA()),
            ('clf', LinearRegression())])

pipe_br = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', BayesianRidge())])

pipe_llcv = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', LassoLarsCV())])

pipe_en = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', ElasticNetCV(max_iter=2000))])

pipe_ardr = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', ARDRegression())])

pipe_mlp = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', MLPRegressor())])

pipe_sgd = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', SGDRegressor(max_iter=2000))])

pipe_r = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', Ridge())])

pipe_llic = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', LassoLarsIC())])

pipe_lars = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', Lars())])

pipe_omp = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', OrthogonalMatchingPursuit())])

pipe_tsr = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', TheilSenRegressor())])

pipe_hr = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', HuberRegressor())])

pipe_ransac = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', RANSACRegressor())])

pipe_ompcv = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', OrthogonalMatchingPursuitCV())])

pipe_rcv = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', RidgeCV())])

pipe_pa = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', PassiveAggressiveRegressor())])

pipe_lcv = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', LarsCV())])

pipe_lscv = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', LassoCV())])

pipe_lsvr = Pipeline([('scl', StandardScaler()),
            #('pca', PCA()),
            ('clf', LinearSVR())])

#List of pipelines for ease of iteration
pipelines = [pipe_lr, pipe_br, pipe_llcv, pipe_en, pipe_ardr, pipe_mlp, pipe_sgd, pipe_r, pipe_llic, pipe_lars,
             pipe_omp, pipe_tsr, pipe_hr, pipe_ransac, pipe_ompcv, pipe_rcv, pipe_pa, pipe_lcv, pipe_lscv, pipe_lsvr]

#Dictionary of pipelines and classifier types for ease of reference
pipe_dict = {0: 'LinearRegression', 1: 'BayesianRidge', 2: 'LassoLarsCV', 3: 'ElasticNetCV', 4: 'ARDRegression', 5: 'MLPRegressor', 6: 'SGDRegressor'
             ,7: 'Ridge', 8: 'LassoLarsIC', 9: 'Lars', 10: 'OrthogonalMatchingPursuit', 11: 'TheilSenRegressor', 12: 'HuberRegressor'
            ,13: 'RANSAC', 14: 'OrthogonalMatchingPursuitCV', 15: 'RidgeCV', 16: 'PassiveAggressiveRegressor'
            ,17: 'LarsCV', 18: 'LassoCV', 19: 'LinearSVR'}

#Fit the pipelines
for pipe in pipelines:
    pipe.fit(x_train, y_train.flat)
      
#Compare accuracies
for idx, val in enumerate(pipelines):
    print('%s pipeline test accuracy: %.5f' % (pipe_dict[idx], val.score(x_test, y_test)))

#Identify the most accurate model on test data
best_acc = 0.0
best_clf = 0
best_pipe = ''
for idx, val in enumerate(pipelines):
    if val.score(x_test, y_test) > best_acc:
        best_acc = val.score(x_test, y_test)
        best_pipe = val
        best_clf = idx
print('Classifier with best accuracy: %s' % pipe_dict[best_clf])

#Predictions
#for idx, val in enumerate(pipelines):
#    print((pipe_dict[idx], val.predict(x_test)))
    
#Ensemble
ensemble = 0
all_x_pred = 0
ensemble_list = 0
new_ensemble = 0
for pipe in pipelines:
    all_x_pred += pipe.predict(x_test)
    
ensemble = all_x_pred/len(pipelines)
ensemble_list = ensemble.tolist()
new_ensemble = scaler.inverse_transform(ensemble_list)
print("Ensemble of 20 regression: ")
print(ensemble) 
print(new_ensemble) 
    
#Save pipeline to file
#joblib.dump(best_pipe, 'best_pipeline.pkl', compress=1)
#print('Saved %s pipeline to file' % pipe_dict[best_clf])

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/least_angle.py:313: ConvergenceWarning:

Regressors in active set degenerate. Dropping a regressor, after 25 iterations, i.e. alpha=2.651e-07, with an active set of 22 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning:

max_iter and tol parameters have been added in <class 'sklearn.linear_model.passive_aggressive.PassiveAggressiveRegressor'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/least_angle.py:313: ConvergenceWarning:

Regressors in active set degenerate. Dropping a regressor, after 23 iterations, i.e. alpha=3.098e-06, with an active set of 20 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/least_angle.py:313: ConvergenceWarning:

Regressors in active set degenerate. Dropping a regressor, after 25 iterations, i.e. alpha=4.545e-07, with an active set of 22 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/least_angle.py:313: ConvergenceWarning:

Regressors in active set degenerate. Dropping a regressor, after 25 iterations, i.e. alpha=1.612e-07, with an active set of 22 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/least_angle.py:313: ConvergenceWarning:

Regressors in active set degenerate. Dropping a regressor, after 25 iterations, i.e. alpha=5.600e-07, with an active set of 23 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/least_angle.py:313: ConvergenceWarning:

Regressors in active set degenerate. Dropping a regressor, after 25 iterations, i.e. alpha=1.738e-07, with an active set of 23 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/least_angle.py:313: ConvergenceWarning:

Regressors in active set degenerate. Dropping a regressor, after 25 iterations, i.e. alpha=1.468e-07, with an active set of 23 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/least_angle.py:313: ConvergenceWarning:

Regressors in active set degenerate. Dropping a regressor, after 23 iterations, i.e. alpha=1.052e-06, with an active set of 20 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/least_angle.py:313: ConvergenceWarning:

Regressors in active set degenerate. Dropping a regressor, after 26 iterations, i.e. alpha=7.452e-07, with an active set of 22 regressors, and the smallest cholesky pivot element being 1.490e-08. Reduce max_iter or increase eps parameters.

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/least_angle.py:313: ConvergenceWarning:

Regressors in active set degenerate. Dropping a regressor, after 26 iterations, i.e. alpha=6.555e-07, with an active set of 22 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/least_angle.py:313: ConvergenceWarning:

Regressors in active set degenerate. Dropping a regressor, after 26 iterations, i.e. alpha=5.458e-07, with an active set of 22 regressors, and the smallest cholesky pivot element being 2.220e-16. Reduce max_iter or increase eps parameters.

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/least_angle.py:313: ConvergenceWarning:

Regressors in active set degenerate. Dropping a regressor, after 26 iterations, i.e. alpha=2.301e-07, with an active set of 22 regressors, and the smallest cholesky pivot element being 2.107e-08. Reduce max_iter or increase eps parameters.

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:491: ConvergenceWarning:

Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.

LinearRegression pipeline test accuracy: 0.94548
BayesianRidge pipeline test accuracy: 0.94692
LassoLarsCV pipeline test accuracy: 0.94823
ElasticNetCV pipeline test accuracy: 0.94796
ARDRegression pipeline test accuracy: 0.94704
MLPRegressor pipeline test accuracy: 0.74158
SGDRegressor pipeline test accuracy: 0.94736
Ridge pipeline test accuracy: 0.94768
LassoLarsIC pipeline test accuracy: 0.92780
Lars pipeline test accuracy: 0.94369
OrthogonalMatchingPursuit pipeline test accuracy: 0.94899
TheilSenRegressor pipeline test accuracy: 0.94784
HuberRegressor pipeline test accuracy: 0.94759
RANSAC pipeline test accuracy: 0.94565
OrthogonalMatchingPursuitCV pipeline test accuracy: 0.94890
RidgeCV pipeline test accuracy: 0.94631
PassiveAggressiveRegressor pipeline test accuracy: 0.90954
LarsCV pipeline test accuracy: 0.94823
LassoCV pipeline test accuracy: 0.94742
LinearSVR pipeline test accuracy: 0.93810
Classifier with best accuracy: OrthogonalMatchingPursuit
Ensemble of 20 regression:
[1.17398269 1.09307964 1.09229922 1.20435132 1.12843767 1.1424161
 1.17161627 1.13437336 1.00541164 1.17665964 1.07330778 0.9470835
 0.8497716  1.18994788 1.03562328 0.89281134 0.91198076 1.0537468
 1.06931085 1.17756557 1.13670359 1.21278721 1.24938467 1.23249181
 1.19487135 1.39665614 1.49622236 1.54722378 1.5531643  1.44950112
 1.56147497 1.81299976 1.9475047  1.96799986 2.05687541 1.98287789
 2.36338029 2.3883663  2.39474239 2.34986656 2.47026717 2.41542608
 2.53424144 2.5134927  2.37062414 1.98104208 2.10222174 1.84250071
 1.80921007 1.88045667 1.70674589 1.7879255  1.96085366 1.62911861
 1.57491856 1.53689996 1.70753251 1.74208077 1.8953058  1.82953312
 1.79454209 1.82061378 1.9650496  1.76787979 1.74103059 1.59861104
 1.43288616 1.46799281 1.6957934  1.47302859 1.37749715 1.42069923
 1.33345307 1.40227732 1.51728541 1.55496776 1.56863337 1.73441373
 1.84917878 1.79075352 1.89661807 1.96821368 2.15179733 2.02052169
 1.91379692 2.08106097 2.36371754 2.41993743 2.55747119 2.52081161
 2.61542572 2.61817446 2.23955339 2.34372264 2.40389794 2.40442761
 2.42919193 2.41869729 2.51980178 2.57135143 2.4863679  2.47448838
 2.39847368 2.32390579 2.3441951  2.3995881  2.37601085 2.42086782
 2.22975406 1.90543268 2.03778037 1.86649958 1.92888365 1.91645756
 2.02379559 1.78081524 1.90476639 1.91718629 2.02431436 2.12627704
 2.02740182 2.07045035 2.17604112 2.11778574 2.21666044 2.24923346
 2.14640553 2.0640371  1.99296028 1.91001184 1.94964751 1.98719815
 1.98785232 1.91582528 1.89165857 1.85273535 1.93956858 1.90365299
 1.89471472 1.91940959 1.93638408 1.83795652 1.78523861 1.77553415
 1.72555794 1.47711485 1.45587028 1.44234257 1.52320184 1.68231317
 1.70298894 1.63293516 1.72923019 1.81901908 1.84375175 1.81538844
 1.88558168 1.85714006 1.80098932 1.61832712 1.22965146 1.26614751
 1.28256255 1.1733326  1.04751209 1.19308757 1.22008007 1.17323524
 1.31017887 1.29832026 1.36442055 1.27048858 1.27547986 1.23958621
 1.22211867 1.27000729 1.30016174 1.2722555  1.33648411 1.27889083
 1.20485106 1.16205821 1.12721995 1.0617501  1.02601365 1.04284768
 1.08427248 1.06767715 1.13571979 1.06981206 0.98318376 0.92344683
 0.85860712 0.77567558 0.5363599  0.62812657 0.52559345 0.45162639
 0.58730936 0.71336765 0.87810733 0.92334837 0.84929705 0.86039125
 0.9355935  0.90628225 0.8067665 ]
[43.75085903 42.72158722 42.71165854 44.13721737 43.17142223 43.34925986
 43.72075271 43.24693771 41.60624999 43.78491592 42.47004401 40.86418273
 39.62615296 43.9539727  41.990611   40.17371685 40.41759559 42.22118364
 42.41919389 43.79644146 43.27658357 44.24454114 44.71014443 44.49522874
 44.01661046 46.58377417 47.85048408 48.49933867 48.57491564 47.25608308
 48.68064633 51.88061659 53.59182678 53.8525721  54.98327217 54.04185466
 58.88271482 59.20059399 59.28171247 58.71078923 60.24256028 59.54485623
 61.05645918 60.79248769 58.97487309 54.01849891 55.56018116 52.25593613
 51.83240306 52.73882269 50.52882451 51.56161472 53.7616561  49.54122803
 48.8516796  48.36799616 50.53883212 50.97836499 52.92773754 52.09095868
 51.64579286 51.97748437 53.81503807 51.30658747 50.9650043  49.15310206
 47.04470287 47.49133967 50.38948379 47.55540628 46.3400281  46.88965727
 45.77968669 46.65528842 48.11845419 48.59785979 48.77171764 50.88082272
 52.34089645 51.59759357 52.94443257 53.85529235 56.19089594 54.52076987
 53.16298686 55.29096781 58.88700545 59.60225094 61.35199464 60.88560105
 62.08930871 62.12427903 57.30735368 58.63262457 59.39819191 59.40493049
 59.71998923 59.58647344 60.87275364 61.52858299 60.44739832 60.2962636
 59.32918289 58.38050891 58.63863533 59.34336093 59.04340442 59.61408764
 57.18268381 53.05657452 54.74033971 52.56125656 53.35492454 53.1968363
 54.56242129 51.47115588 53.04809783 53.20610737 54.56902128 55.86621956
 54.60830086 55.15597655 56.49933238 55.75819079 57.01610302 57.43050626
 56.12230003 55.07438533 54.17012564 53.11483198 53.6190883  54.09681825
 54.10514075 53.18879216 52.88133636 52.38614413 53.49086126 53.03393286
 52.92021761 53.23439276 53.45034716 52.19812362 51.52743128 51.40396838
 50.76815675 47.60739282 47.33711339 47.16501    48.19372473 50.21798453
 50.48102753 49.58978329 50.81487621 51.95719607 52.27185221 51.91100611
 52.80402447 52.44218209 51.72781633 49.40393567 44.459093   44.92340611
 45.13224298 43.74258829 42.14186393 43.99391675 44.337323   43.74134972
 45.48358564 45.3327171  46.17366375 44.97863449 45.04213495 44.58548563
 44.36325865 44.9725114  45.35614491 45.0011137  45.81824838 45.08553032
 44.14357513 43.5991523  43.15593008 42.32300387 41.86835465 42.08252198
 42.6095401  42.39840957 43.26406741 42.42557046 41.32346052 40.56347021
 39.73856088 38.68348217 35.63883981 36.80632152 35.50186593 34.56083591
 36.28703336 37.89078293 39.98664819 40.56221759 39.62011552 39.76125915
 40.71800363 40.34509752 39.07902973]

In [100]:
MASE(y_test, ensemble)

1.0128641455499263

In [99]:
SMAPE(y_test, ensemble)

2.998151842856457

In [118]:
p1 = Scatter(x=datespred[-lenofytest:], 
             y=df.close[-lenofytest:], 
             mode='lines',
             marker=dict(color='#3D5A80'),
             name='Close'
             )

p2 = Scatter(x=datespred[-lenofytest:], 
             y=new_ensemble,
             mode='lines',
             line=dict(color='#EFB509'),
             name='Ensemble'
             )

#p3 = Scatter(x=datespred[-lenofytest:], 
#             y=new_forecast,
#             mode='lines',
#             name='Linear Regression Forecast'
#             )

layout = Layout(title='Close compared to Ensemble of 20 regression',
                xaxis=dict(ticks='', showticklabels=True,
                zeroline=False),
                yaxis=dict(ticks='', showticklabels=True,
                zeroline=False),
                showlegend=True, hovermode='closest')

config = {'scrollZoom': True}

fig = Figure(data=[p1,p2], layout=layout)

iplot(fig, config=config)