## Project â€“ Creating an automated trading system

#### Christian Karvonen IA-15 & Wilhelm Kinos IA-15

#### Imports:

In [1]:
import datetime as dt
import numpy as np
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader.data import DataReader
from plotly.offline import init_notebook_mode, iplot
from plotly.graph_objs import *
import matplotlib.pyplot as plt
from collections import defaultdict
from sklearn.linear_model import LinearRegression, ElasticNetCV, Ridge, BayesianRidge, LassoCV, LassoLarsCV
from sklearn.neural_network import MLPRegressor
from sklearn import preprocessing, svm, model_selection
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import confusion_matrix
init_notebook_mode(connected=True)

#### Defining timeframe of stocks:

In [2]:
end = dt.date.today()
endday = end
endday = endday.strftime('%Y-%m-%d')
print([endday])
start = end - dt.timedelta(days=5*365)

['2018-10-29']

#### Use of DataReader to get MU stock data from IEX https://iextrading.com/developer/

In [3]:
df = DataReader('MU', 'iex', start, end)
df.tail(10)

5y

             open     high    low  close    volume
date
2018-10-15  42.03  42.5500  41.63  42.34  27697328
2018-10-16  42.70  43.3500  42.30  43.21  28827416
2018-10-17  43.33  43.3900  42.11  42.35  27758963
2018-10-18  42.04  42.2125  41.14  41.30  33560822
2018-10-19  41.67  41.9850  40.27  40.45  28641375
2018-10-22  40.56  40.7000  38.64  39.76  34441221
2018-10-23  38.15  39.1100  37.41  38.68  46364174
2018-10-24  38.00  38.3000  35.40  35.43  53096450
2018-10-25  35.59  37.1600  35.06  36.78  39625699
2018-10-26  35.28  35.9100  34.30  35.40  41257357